@model SwiperSliderModel

@{
    var currentCustomer = await workContext.GetCurrentCustomerAsync();
    const string hideInfoBlockAttributeName = "Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(currentCustomer, hideInfoBlockAttributeName, defaultValue: true);

    const string hideMappingsBlockAttributeName = "Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.HideMappingsBlock";
    var hideMappingsBlock = await genericAttributeService.GetAttributeAsync<bool>(currentCustomer, hideMappingsBlockAttributeName, defaultValue: true);

    const string hideSliderItemsBlockAttributeName = "Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.HideSliderItemsBlock";
    var hideSliderItemsBlock = await genericAttributeService.GetAttributeAsync<bool>(currentCustomer, hideSliderItemsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-12 clearfix">
                    <div class="float-left">
                        @await Component.InvokeAsync("SettingMode", new { modeName = "slider-advanced-mode" })
                    </div>
                </div>
            </div>
            <nop-cards id="slider-panels">
                <nop-card asp-name="swiper-slider-info"
                          asp-icon="fa fa-info"
                          asp-title="@T("Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.Cards.Info.Title")"
                          asp-hide-block-attribute-name="@hideInfoBlockAttributeName"
                          asp-hide="@hideInfoBlock"
                          asp-advanced="false">
                    @await Html.PartialAsync("_CreateOrUpdate.Info", Model)
                </nop-card>

                <nop-card asp-name="swiper-slider-mapping"
                          asp-icon="fa fa-info"
                          asp-title="@T("Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.Cards.Mappings.Title")"
                          asp-hide-block-attribute-name="@hideMappingsBlockAttributeName"
                          asp-hide="@hideMappingsBlock"
                          asp-advanced="true">
                    @await Html.PartialAsync("_CreateOrUpdate.Mappings", Model)
                </nop-card>

                <nop-card asp-name="swiper-slider-items"
                          asp-icon="fa fa-info"
                          asp-title="@T("Nop.Plugin.Widgets.SwiperSlider.Admin.Sliders.Cards.Items.Title")"
                          asp-hide-block-attribute-name="@hideSliderItemsBlockAttributeName"
                          asp-hide="@hideSliderItemsBlock"
                          asp-advanced="true">
                    @await Html.PartialAsync("_CreateOrUpdate.Items", Model)
                </nop-card>
            </nop-cards>
        </div>
    </div>
</div>