@model SwiperSliderItemModel

@{
    ViewBag.PageTitle = T("Nop.Plugin.Widgets.SwiperSlider.Admin.SliderItems.Create.PageTitle").Text;
    NopHtml.SetActiveMenuItemSystemName("Nop.Plugin.Widgets.SwiperSlider.Root");
}

<form asp-controller="SwiperSlider" asp-action="SliderItemCreate" method="post" id="slider-item-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Plugin.Widgets.SwiperSlider.Admin.SliderItems.Create.Title")
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.Id">@T("Nop.Plugin.Widgets.SwiperSlider.Admin.SliderItems.BackToSlider")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_SliderItem.CreateOrUpdate", Model)
</form>