@model CilSliderConfigureModel
@inject Nop.Core.IWorkContext workContext
@inject Nop.Services.Common.IGenericAttributeService genericAttributeService;

@{
    Layout = "_ConfigurePlugin";

    const string hideConfigureBlockAttributeName = "CilSlider.Configuration.HideConfigureBlock";
    var hideConfigureBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideConfigureBlockAttributeName);
}
<script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.AutoPlayEnabled)").click(toggleAutoPlay);
        $("#@Html.IdFor(model => model.PaginationEnabled)").click(togglePaginationEnabled);
        $("#@Html.IdFor(model => model.Loop)").click(toggleLoop);
        toggleAutoPlay();
        togglePaginationEnabled();
        toggleLoop();
    });

    function toggleAutoPlay() {
        if ($('#@Html.IdFor(model => model.AutoPlayEnabled)').is(':checked')) {
            $('#pnlAutoPlayDelay').show();
            $('#pnlAutoPlayDisableOnInteraction').show();
        } else {
            $('#pnlAutoPlayDelay').hide();
            $('#pnlAutoPlayDisableOnInteraction').hide();
        }
    }

    function togglePaginationEnabled() {
        if ($('#@Html.IdFor(model => model.PaginationEnabled)').is(':checked')) {
            $('#pnlPaginationClickableEnabled').show();
            $('#pnlDynamicBulletsEnabled').show();
        } else {
            $('#pnlPaginationClickableEnabled').hide();
            $('#pnlDynamicBulletsEnabled').hide();
        }
    }

     function toggleLoop() {
        if ($('#@Html.IdFor(model => model.Loop)').is(':checked')) {
            $('#pnlLoopFillGroupWithBlankEnabled').show();
        } else {
            $('#pnlLoopFillGroupWithBlankEnabled').hide();
        }
    }
</script>

<div class="content-header clearfix">
    <div class="pull-right">
        <a asp-action="SliderList" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("codeislife.Widgets.CilSlider.Configuration.SliderList")
        </a>
    </div>
</div>

<nop-panels id="category-panels">
    <nop-panel asp-name="configure-info" asp-icon="fa fa-info" asp-title="@T("codeislife.Widgets.CilSlider.Configuration.Title")" asp-hide-block-attribute-name="@hideConfigureBlockAttributeName" asp-hide="@hideConfigureBlock" asp-advanced="false">



        <form asp-controller="CilSlider" asp-action="Configure" method="post">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="ContainerCssSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ContainerCssSelector" />
                                <span asp-validation-for="ContainerCssSelector"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="PaginationCssSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PaginationCssSelector" />
                                <span asp-validation-for="PaginationCssSelector"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="NavigationNextCssSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NavigationNextCssSelector" />
                                <span asp-validation-for="NavigationNextCssSelector"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="NavigationPrevCssSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NavigationPrevCssSelector" />
                                <span asp-validation-for="NavigationPrevCssSelector"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="ScrollBarCssSelector" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ScrollBarCssSelector" />
                                <span asp-validation-for="ScrollBarCssSelector"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="DirectionId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="DirectionId" asp-items="@(((Direction)Model.DirectionId).ToSelectList())" />
                                <span asp-validation-for="DirectionId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="InitialSlide" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="InitialSlide" />
                                <span asp-validation-for="InitialSlide"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="Speed" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Speed" />
                                <span asp-validation-for="Speed"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="Loop" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Loop" />
                                <span asp-validation-for="Loop"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="Loop">
                            <div class="form-group" id="pnlLoopFillGroupWithBlankEnabled">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="LoopFillGroupWithBlankEnabled" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="LoopFillGroupWithBlankEnabled" />
                                    <span asp-validation-for="LoopFillGroupWithBlankEnabled"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="PaginationEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PaginationEnabled" />
                                <span asp-validation-for="PaginationEnabled"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="PaginationEnabled">
                            <div class="form-group" id="pnlPaginationClickableEnabled">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="PaginationClickableEnabled" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="PaginationClickableEnabled" />
                                    <span asp-validation-for="PaginationClickableEnabled"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnlDynamicBulletsEnabled">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="DynamicBulletsEnabled" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="DynamicBulletsEnabled" />
                                    <span asp-validation-for="DynamicBulletsEnabled"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="NavigationEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="NavigationEnabled" />
                                <span asp-validation-for="NavigationEnabled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="ScrollBarEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ScrollBarEnabled" />
                                <span asp-validation-for="ScrollBarEnabled"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="AutoPlayEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="AutoPlayEnabled" />
                                <span asp-validation-for="AutoPlayEnabled"></span>
                            </div>
                        </div>
                        <nop-nested-setting asp-for="AutoPlayEnabled">
                            <div class="form-group" id="pnlAutoPlayDelay">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="AutoPlayDelay" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="AutoPlayDelay" />
                                    <span asp-validation-for="AutoPlayDelay"></span>
                                </div>
                            </div>
                            <div class="form-group" id="pnlAutoPlayDisableOnInteraction">
                                <div class="col-md-3">
                                    @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                    <nop-label asp-for="AutoPlayDisableOnInteraction" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="AutoPlayDisableOnInteraction" />
                                    <span asp-validation-for="AutoPlayDisableOnInteraction"></span>
                                </div>
                            </div>
                        </nop-nested-setting>
                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="SlidesPerGroup" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SlidesPerGroup" />
                                <span asp-validation-for="SlidesPerGroup"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="SpaceBetween" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SpaceBetween" />
                                <span asp-validation-for="SpaceBetween"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="SlidesPerView" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SlidesPerView" />
                                <span asp-validation-for="SlidesPerView"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="SlidesPerColumn" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="SlidesPerColumn" />
                                <span asp-validation-for="SlidesPerColumn"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="FreeModeEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="FreeModeEnabled" />
                                <span asp-validation-for="FreeModeEnabled"></span>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="CenteredSlidesEnabled" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CenteredSlidesEnabled" />
                                <span asp-validation-for="CenteredSlidesEnabled"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3">
                                @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />*@
                                <nop-label asp-for="CustomCss" />
                            </div>
                            <div class="col-md-9">
                                <nop-textarea asp-for="CustomCss" />
                                <span asp-validation-for="CustomCss"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nop-panel>
</nop-panels>