@model SliderModel

@{
    const string hideInfoBlockAttributeName = "SliderPage.Create.HideInfoBlock";
    var hideInfoBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideInfoBlockAttributeName, defaultValue: true);

    const string hideMappingsBlockAttributeName = "SliderPage.Create.HideMappingsBlock";
    var hideMappingsBlock = genericAttributeService.GetAttribute<bool>(workContext.CurrentCustomer, hideMappingsBlockAttributeName, defaultValue: true);
}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<div class="content">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="pull-left">
                    @await Component.InvokeAsync("SettingMode", new { modeName = "slider-advanced-mode" })
                </div>
            </div>
        </div>

        <nop-panels id="slider-panels">
            <nop-panel asp-name="slider-info"
                       asp-icon="fa fa-info"
                       asp-title="@T("codeislife.Widgets.CilSlider.Sliders.Info")"
                       asp-hide-block-attribute-name="@hideInfoBlockAttributeName"
                       asp-hide="@hideInfoBlock"
                       asp-advanced="false">
                @await Html.PartialAsync("_CreateOrUpdate.Info", Model)
            </nop-panel>

            <nop-panel asp-name="slider-mapping"
                       asp-icon="fa fa-info"
                       asp-title="@T("codeislife.Widgets.CilSlider.Sliders.Mappings")"
                       asp-hide-block-attribute-name="@hideMappingsBlockAttributeName"
                       asp-hide="@hideMappingsBlock"
                       asp-advanced="true">
                @await Html.PartialAsync("_CreateOrUpdate.Mappings", Model)
            </nop-panel>
        </nop-panels>
    </div>
</div>
