@model SwiperSliderModel

@{
    var name = Model.Name;
    ViewBag.PageTitle = T("Nop.Plugin.Widgets.SwiperSlider.Sliders.Edit", name).Text;
}

<form asp-controller="SwiperSlider" asp-action="Edit" method="post" id="slider-form">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Nop.Plugin.Widgets.SwiperSlider.Sliders.Edit", name)
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Nop.Plugin.Widgets.SwiperSlider.Sliders.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>

<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="slider-delete" />