@model CilSliderSettings
@{
    Html.AppendScriptParts("~/Plugins/codeislife.Widgets.CilSlider/Content/lib/swiper/swiper-bundle.js");

    Html.AppendCssFileParts("~/Plugins/codeislife.Widgets.CilSlider/Content/css/style.css");
    Html.AppendCssFileParts("~/Plugins/codeislife.Widgets.CilSlider/Content/lib/swiper/swiper-bundle.css");
}

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
</div>

<script type="text/javascript">
    var mySwiper = new Swiper('@Model.ContainerCssSelector', {
        // Optional parameters
        direction: '@Model.Direction.ToString().ToLower()',
        loop: true,

        // If we need pagination
        pagination: {
            el: '@Model.PaginationCssSelector',
        },

        // Navigation arrows
        navigation: {
            nextEl: '@Model.NavigationNextCssSelector',
            prevEl: '@Model.NavigationPrevCssSelector',
        },

        // And if we need scrollbar
        scrollbar: {
            el: '@Model.ScrollBarCssSelector',
        },
    })
</script>